@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}



/* Utilisation de grid pour placer les éléments de mon header */
header {
  height: 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  justify-self: end;
}
.logo {
  grid-column: 1;
  justify-content: flex-start;
  align-self: center;

}
.logo img {
  width: 61.09px;
}

.nav-link {
  grid-column: 3;
  justify-self: end;
  align-self: center;
  gap: 67px;
  display: flex;
  flex-direction: row;
}

.nav-link a {
  grid-row: auto;
  text-decoration: none;
  color: black;
}

.hebergements,
.activites {
  position: relative;
  margin-top: 40px;
}
/* Mise en place de la barre bleue au survol des liens  */
.hebergements:hover::before,
.activites:hover::before {
  content: "";
  position: absolute;
  top: -35px;
  left: -10%;
  right: -10%;
  border-top: 2px solid #0065fc;
}

.nav-link a:hover {
  color: #0065fc;
}

.titre h1 {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 8px;

}

.sous-titre h2 {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;

}

.form-horizontal {
  padding-left: 0;
  padding-bottom: 35px;
  max-width: 435px;
  display: flex;
  flex-wrap: nowrap;
  border: none;
  position: relative;
}
.form {
  max-width: 435px;

}
.loc-button {
  background: #f2f2f2;
  font-size: 18px;
  padding: 14px 18px;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.search-text {
  border: 1px solid #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  padding-left: 10px;
}

::placeholder {
  color: black;
}

/* Suppression des bordures noires épaisses quand on clique sur la zone a remplir */
input:focus {
  border: none;
  outline: 1px solid #f2f2f2;
}

/* Cache l'icone loupe en mode desktop */
.search-icon {
  display: none;
}

.search-button {
  border: none;
  background-color: #0065fc;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  padding: 14px 16px;
  line-height: 21px;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
}
.filtre-border {
  display: flex;
  flex-direction: row;
  width: 58%;
  justify-content: space-between;
}
.filtres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 48px;
  align-items: center;
  
}

.filtres {
  padding-bottom: 50px;
}

.filtres p {
  font-weight: 700;
  font-size: 18px;
}
.filtre {
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  flex-grow: 0;
  width: auto;
  padding: 0.8em 0.8em;
  font-weight: 700;
  font-size: min(1.2vw, 18px);
}

.filtre:hover {
  background-color: #deebff;
}
/* Changer la couleur des icones FONTAWESWOME */
.filtres i {
  color: #0065fc;
}

.infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  flex-grow: 0;
  padding-bottom: 39px;
}
/* Logo I sous forumlaire filtres */
.info-logo {
  border: 1px solid #d9d9d9;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #0065fc;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Premier gros block contenant les cartes et cartes populaires */
.block-card {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  width: 100%;

}
.euro {
  font-weight: 600;
}
/* Enlever  la couleur bleue et le sous-lignages des cartes cliquables */

a {
  color: black;
  text-decoration: none;
}

.block-card h2 {
  padding-left: 5%;
}

.first-block {
  position: relative;
  display: grid; 
 height: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 100%;
}

.first-block h2 {
  margin-top: 1.8em;
}

.second-block {
  position: relative;
  width: auto;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-bottom: 25px;
}

.card-container-first-block {
  width: 90%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr; 
  justify-self: center;
  align-self: center;
  margin: auto;
  gap : 45px;


}

.card {
  margin: auto;
  width: 100%;
  height: 14.5vw;
  max-height:199px ;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border: 5px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100% 1fr 1fr 1fr;  
}

.image-container {
  width: auto;
  position: relative;
  height: min(134px, 9.2vw);
  overflow: hidden;
}

.card-body {
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-left: 5px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.2);
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: min(1.2vw, 16px);
    margin: 0;
    padding-top: 5px;
    padding-bottom: px;
}

.text {
  font-size: 15px;
  margin: 0;
  font-size: min(1.2vw, 14px);

}

.stars {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  margin: 0;
  font-size: min(13px, 14px);
}
.stars,
.stars-pop i {
  color: #ccc;
}

.bright i {
  color: #0065fc;
  display: flex;
}

#resize-img {
  width: 100%;
}

.show-more {
  padding-top: 20px;
  margin-bottom: 5%;
  padding-left: 5%;
  font-size: 18px;
  font-weight: 700;
}


.card-body-pop {
  padding: 10px;
  display: flex;
flex-direction: column;
}

.card-pop {
  margin: auto;
  width: auto;
  height: 10vw;
  max-height: 144px;
  min-height: 118px;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border: 5px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
.title-pop {
  margin: 0;
  padding-bottom: 0;
  font-size: min(1.4vw, 16px);
}

.text-pop {
  margin: 0;
  font-size: 15px;
  font-size: min(1.4vw, 14px);

}


.image-container-pop {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container-pop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container-pop:hover img {
  transform: scale(1.2);
}

.icon-and-title {
display: grid;
grid-template-columns: 6.5fr 1fr; 
align-items: center;
margin-top: 1em;
width: 95%;
gap: 5%;
padding-left: 10%;
}

h2.pop-title {
  padding-left: 0 !important;
}


.grow {
  justify-items: center; 
  align-self: center;
  color: #0065fc;
}

.stars-pop {
position: absolute;
display: flex;
bottom: 5px;
font-size: 14px;

}

.card-container-second-block {
  margin: auto;
  display: grid;
  width: 80%;
  grid-template-rows: 144px 144px 144px;  
  grid-gap: 25px;
  justify-self: center;
  align-self: center;
}

.activities-block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  padding-bottom: 61px;

}

.activities-block h2 {
  position: relative;
  padding-top: 40px;
  padding-bottom: 19px;
}
.activities-title {
  margin: 0;
  padding-left: 19px;
  padding-top: 5%;
  font-size: min(1.2vw, 16px);


}
.activities-card-container {
  width:auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.activities-card {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  overflow: hidden;
}
.activities-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5%;
  align-items: center;
  width: 100%;
}
.activities-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.activities-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 85%;
}

.activities-image-container:hover img {
  transform: scale(1.2);
}

.footer {
  position: relative;
  padding-bottom: 58px;
  display: grid;
  grid-template-columns: 2.3fr 2.6fr 2.8fr;
justify-items: flex-start;
  background-color: #d9d9d9;
}

.footer h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 18px;
  margin-left:70px;
  white-space: nowrap;  }


.footer p {
  font-size: 16px;
  margin-left: 70px;
  white-space: nowrap;  }


/* RESPONSIVE DESIGN POUR TABLETTE */

@media all and (max-width: 992px) {

  body {
    margin: 0 72px;
    padding-left: 0px;
    padding-right: 0px;
  
  }
.filtre-border {
  gap: 1%;
  width: 88%;
}
  .filtres-container {
    gap: 1%;
    padding-top: 25px;
  }
  
  .filtres {
    padding-bottom: 25px;
  }
.filtre {
  font-size: min(1.7vw, 17px);

}
  .block-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .title {
    font-size: min(1.8vw, 16px);
  }

  .text {
    font-size: min(1.6vw, 14px);

  }

  .card {
    height: 20vw;
  }

  .image-container {
    height: min(134px, 13vw);
  }

  .stars {
    font-size: min(13px, 14px);

  }

  .card-container-second-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  margin: auto;
  width: 90%;
  }
 
  .card-pop {
   width: 100%;
   max-height: 134px;
  }
  .title-pop {
    margin: 0;
    padding-bottom: 0;
    font-size: min(1.6vw, 16px);
  }
  
  .text-pop {
    margin: 0;
    font-size: 15px;
    font-size: min(1.4vw, 14px);
  }

  .icon-and-title {
    grid-template-columns: 12fr 2fr 0.05fr; 
    padding-left: 5%;
  }

  .grow {
    justify-self: end;
  }


  

  .activities-title {
    display: flex;
    padding-top: 6px;
    font-size: min(1.6vw, 16px);
    padding-left: 12px;
    width: 90%;
    height: 48px;
  align-items: center;
}

  #notre-dame {
    width: 60%;
  }

  #calanques {
    width: 87%;
  }

  .activities-block h2 {
    padding-left: 0;
  }

  .activities-block {
    width: auto;
  }

  .activities-card {
    min-width: 0;
    width: 182px;
    height: 267px;
  }
  .activities-card-wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .activities-image-container img {
    height: 231px;
    width: 182px;
  }

  .activities-image-container  {
    height: 211px;}


  .activities-card-container {
    position: relative;
    min-height: auto;
    min-width: 0%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer {
    width: 100%;
    overflow: hidden;
    width: auto;
    overflow: hidden;
    grid-template-columns: 0.8fr 0.8fr 1fr;
    justify-items: flex-start;
    padding-left: 70px;

  }

  .footer h2 { 
  white-space: nowrap; 
  margin-left: 0;
  font-size: min(2vw, 18px);

}

.footer p {
  margin-left: 0;
  font-size: min(1.5vw, 16px);

}
}

@media all and (max-width: 767px) {
  body {
margin: auto;  
padding-left: 0px;
padding-right: 0px;

}
 
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .logo {
    text-align: center;
    padding-left: 0;
    padding-top: 21px;
  }


   
  .nav-link {
    padding-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-self: center;
    width: 100%;
    padding-right: 0;
  }
  
  

  .hebergements,
  .activites {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }

  /* Ne plus afficher la barre au dessus avec 0px */

  .hebergements:hover::before,
  .activites:hover::before {
    border-top: 0px solid black;
  }

  /* Ajout barre grise sous les nav links + hover bleue */
  .nav-link .bar {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #f2f2f2;
    left: 0;
    display: block;
    margin-top: 8px;
  }
  .hebergement:hover .bar , .activitie:hover .bar-two {
    display: block;
    background-color: #0065fc;
  }

  .nav-link .bar-two {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #f2f2f2;
    right: 0;
    display: block;
    margin-top: 8px;
  }

  .titre h1 {
    padding-top: 30px;
    padding-left: 20px;
  }
  .sous-titre h2 {
    padding-left: 20px;
  }

  .form-horizontal {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    max-width: none;
    margin-right: 0 ;
    width: auto;
    justify-self: center;
  }
.form {
  max-width: none;
}

.search-text {
  width: 80%;
}
  .search-icon {
    display: block;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #0065fc;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    padding: 14px 16px;
    line-height: 21px;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
  }

  .search-button {
    display: none;
  }

  .filtres {
    display: flex;
    padding-left: 20px;
    width: auto;
  }

  .filtres-container {
    width: 95%;
  display: flex;
  flex-direction: column;  
    align-items: flex-start;
}

  .filtre-border {
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
  }

  .filtre {
    width: 45%;
    padding: 15px 0 15px 0;
    flex-grow: 1;
    font-size: min(3.5vw, 15px);

  }
  .infos {
    padding-left: 20px;
  }

  .block-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
  }
  .second-block {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
  }

 .icon-and-title {
  padding-left: 20px;
  width: 90%;
 }
  
  .card-container-second-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-pop {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
  }
.card-body-pop  {
  padding-right:0px ;
  padding-left: 8px;
}
  .title-pop, .title {
    font-size: 16px;
  }
.text-pop, .text {
  font-size: 15px;
}

.title {
padding-bottom: 0px;
}
  .image-container-pop {
    width: 100%;
    height: 100%;
  }

  .image-container-pop img {
    height: 144px};


  .first-block {
    width: 100%;
    background-color: #ffffff;
  }

  .card-container-first-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card {
    margin: 0 20px;
    width: auto;
    height: 189px;
  }

  .image-container {
    width: 100%;
    height: 68%;

  }

  .image-container img {
    width: 100%;
    max-width: 100%;
  }

  .first-block h2 {
    margin-bottom: 30px;
    padding-left: 20px;
  }
.second-block h2 {
  padding-left: 20px;
}
  .show-more {
    display: none;
  }

  .activities-block {
    width: 100%;
    height: 100%;
  }
  .activities-block h2 {
    padding-left: 20px;
    padding-bottom: 0px;
    width: 50%;
  }

  .activities-card-wrapper {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    height: 100%;

  }
  .activities-card-container {
    width: 100%;
    max-height: 190px;
  }

  .activities-card {
    max-width: 100%;
    width: 100%;
    height: 190px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .activities-image-container {
    min-height: 0px;
    height: 134px;
    width: 100%;
  }

  .activities-image-container img {
    height: 134px;
    object-fit: cover;
    width: 100%;
  }

  .activities-card-body {
    display: flex;
    height: 53px;
  }
  .activities-title {
    padding-bottom: 12px;
    font-size: 16px;
  }
#notre-dame {
  width: 100%;
}
  .footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 10px;
  }

  .footer h2 {
    padding-left: 20px;
    font-size: 16px;

  }
  
  
  .footer p  {
    padding-left: 20px;
    font-size: 15px;

  }
}

